<?xml version="1.0"?>
<configuration>	 
	<appSettings>    
    <add key="SiteUrl" value="https://www.sitename.com/shared/processorder"/>
    <add key="SiteName" value="sitename.com"/>
	</appSettings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>	
</configuration>