<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="connectionstringProd" value="server=10.128.100.131;database=volaire.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
    <!--<add key="connectionstringProd" value="Data Source=CSDBServer101;Initial Catalog=volaire.com;Integrated Security=SSPI;"/>-->
    <add key="sendemailto" value="csreports@conversionsystems.com"/>
    <add key="AdminEmail" value="csreports@conversionsystems.com"/>
    <add key="fromEmail" value="info@conversionsystems.com"/>
    <add key="cc" value="csreports@conversionsystems.com"/>
    <add key="bcc" value="csreports@conversionsystems.com"/>
    <add key="FTPURL" value="ftp://ftp.edgeclient.com"/>
    <add key="FTPLogin" value="legendzxl"/>
    <add key="FTPPassword" value="Xloperationz!15"/>
    <add key="clientemail1234" value="csreports@conversionsystems.com"/>
    <add key="sendemailtocc" value="csreports@conversionsystems.com"/>
    <add key="ErrorLogFile" value="C:\batchfiles\volaire.com\HavasEdge\log\Log.txt"/>
    <add key="targetPath" value="C:\batchfiles\volaire.com\HavasEdge\"/>    
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.hitslink.com/reportws.asmx" binding="basicHttpBinding" bindingConfiguration="ReportWSSoap" contract="com.hitslink.www.ReportWSSoap" name="ReportWSSoap"/>
    </client>
  </system.serviceModel>
</configuration>
